site_name: dataview
# site_url: https://docs.k.avito.ru/iaas-docs-user-guide/
repo_url: https://github.com/mkdocs/mkdocs/
edit_uri: blob/master/docs/

theme:
  name: material
  palette:
    - schema: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - search.highlight
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.sections
    - content.code.annotate
    - toc.integrate
    - navigation.top


plugins:
 - search
 - dataview
 - awesome-nav

markdown_extensions:
  - toc
  - attr_list
  - def_list
  - tables
  - pymdownx.highlight:
     use_pygments: false
  - pymdownx.snippets
  - pymdownx.superfences
  - callouts
  - mdx_gh_links:
      user: mkdocs
      repo: mkdocs
  - mkdocs-click
  - meta
  - admonition
  - footnotes
  - sane_lists
  - codehilite:
      guess_lang: false
